.main{
    display: flex;
}
.main2{
    display: flex;
}
.portal1{
    width: 200px;
    height: 300px;
    margin-left: 510%;
}
.portal2{
    width: 200px;
    height: 300px;
    margin-left: 35%;
}
.div1{
    width: 150px;
    height: 150px;
   border-radius: 50%;
   background: red;
   animation: g 6s;
   position: relative;
   animation-iteration-count: 1;
   animation-fill-mode: forwards 1;
   margin-top: -15%;
   margin-left: 5%;
   background: transparent;
}
.div2{
    width: 150px;
    height: 150px;
   border-radius: 50%;
   background: yellow;
   margin-top: 5%;
   margin-left: 45%;
   z-index: auto;
   position: absolute;
   animation: move 13s;
   position: relative;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   background: transparent;
}
@keyframes g{
    15%{
        margin-right: 12%;
        background: red;
    }
    25%{
        margin-right: 23%;
        background: linear-gradient( to right, red 5%, black  80%);
    }
    50%{
        background: linear-gradient( to right, red 5%, black  20%, transparent 80%);
    }
    100%{
        margin-left: 23%;
        background: linear-gradient( to right, black  50%, transparent 50%);
        
    }
}
@keyframes move{
    10%{
        background: transparent;
    }
    15%{
        background: linear-gradient( to right, red 5%, black  60%) ;
    }
    50%{
        background: red;
    }
    100%{
        margin-left: 23%;
        background: red;
    }
}